body {
    font-family: Helvetica;
}

/* Layout  */
.top-left {
    /*height: 200px;*/
    /*position: fixed;*/
    width: 100%;
    /*background-color: blue;*/
    color: white;
    box-sizing: border-box;
    padding: 32px;
    
}
.bottom-left {
    /*height: 200px;*/
    /*position: fixed;*/
    width: 100%;
    top: 220px;
    /*background-color: red;*/
    margin-top: 40px;
    color: white;
    box-sizing: border-box;
    padding: 32px;
}
.right {
    height: 413px;
    /*position: absolute;*/
    width: 72%;
    left: 27%;
    /*background-color: green;*/
    color: white;
    box-sizing: border-box;
    padding: 32px;
    background-color: #BF5532;
}

h1 {
    text-align: center;
    /*border: red solid 3px*/;
    color: white;
}


div {
    float: left;
}
 
.sidebar {
    width: 25%;
    background-color: #329CBF;
} 

/* Nav */
nav li{
    float: right;
    margin-right: 10;
    font-size: 18px;
    color: blue;
}

nav ul{
    background-color: #56BF32;
    overflow: hidden;
    display: inline-block;
    float: right;
    margin-right: 33px;

}

nav {
    overflow: hidden;
    /*background-color: #56BF32;*/
}

nav a {
    color: blue;
}
